@import "~assets/styles/scss/etc/vars";

.active{
 background: mat-color($mat-amber, A200);
 color: $font-color;
}

mat-toolbar-row{
 span, button{
  margin-left: 5px;
 }

 .time-count{
  margin-right:30px;
 }
}

.calendar-container{
  display: flex;
  justify-content: center;

  mat-spinner{
    margin-top: 40px;
  }

  mat-card {
    flex: 1;
  }
}

.cal-cell-bottom{
  padding: 10px;

  .dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: dodgerblue;
    margin:2px;
    vertical-align: middle;
  }
}
