<mat-toolbar class="header" color="primary" fxLayout fxLayoutAlign="space-between center">
  <div fxLayout fxLayoutAlign="start center" fxFlex="100">
    <button mat-icon-button (click)="toggleMenu.emit()" matTooltip="菜单">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="logo" [routerLink]="['/']">PARTNER</a>
    <div class="search-form-wrapper" fxFlex.gt-sm fxHide="false" fxHide.lt-md>
      <form class="search-form" novalidate>
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="请输入关键字" (keyup.enter)="doSearch($event)" />
      </form>
    </div>
  </div>
  <div fxLayout fxLayoutAlign="end center">
    <button mat-icon-button (click)="toggleFullScreen()" matTooltip="全屏" fxHide="false" fxHide.lt-md>
      <mat-icon>fullscreen</mat-icon>
    </button>
    <button mat-icon-button class="visible ml-8-px" *ngIf="isShowNotification" (click)="toggleNotification.emit()" matTooltip="通知">
      <mat-icon>notifications</mat-icon>
      <span class="number"></span>
    </button>
    <button mat-button  class="ml-8-px" [matMenuTriggerFor]="user" matTooltip="用户信息">
      <mat-icon>person</mat-icon>
      <span class="user">欢迎您，{{userInfo.username}}</span>
    </button>

    <mat-menu #user="matMenu" x-position="end">
      <button mat-menu-item (click)="goToUserCenter()">
        <mat-icon>person</mat-icon> 用户中心
      </button>
      <button mat-menu-item *ngIf="!isShowNotification" (click)="toggleNotificationStatus()">
        <mat-icon>notifications_on</mat-icon> 开启通知
      </button>
      <button mat-menu-item *ngIf="isShowNotification"  (click)="toggleNotificationStatus()">
        <mat-icon>notifications_off</mat-icon> 关闭通知
      </button>
      <button mat-menu-item *ngIf="!isShowSettingsFab" (click)="toggleOptionsFabStatus()">
        <mat-icon>visibility</mat-icon> 显示悬浮按钮
      </button>
      <button mat-menu-item *ngIf="isShowSettingsFab"  (click)="toggleOptionsFabStatus()">
        <mat-icon>visibility_off</mat-icon> 隐藏悬浮按钮
      </button>
      <button mat-menu-item (click)="confirmLogout()">
        <mat-icon>exit_to_app</mat-icon> 退出登录
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
