@import "../material/theme";

$bg-color: #fafafa;
$theme-color: mat-color($mat-indigo, 500);
$font-color: #333;
$lighter-font-color: #666;
$lightest-font-color: #999;
$red-color: #f44336;
$gutter: 1rem;
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;
$menu-width: 15rem !default;
$collapsed-menu-width: 60px !default;
$compact-menu-width: 80px !default;
