<div [formGroup]="form">
  <span>
    <label>开始时间：</label>
    <mat-form-field>
      <input matInput readonly atp-time-picker locale="ch" placeholder="请选择开始时间"
             formControlName="startTime"/><button matSuffix mat-icon-button>
      <mat-icon>access_alarm</mat-icon></button>
    </mat-form-field>
  </span>
  <span>
  <label>结束时间：</label>
  <mat-form-field>
    <input matInput readonly atp-time-picker locale="ch" placeholder="请选择结束时间"
           formControlName="endTime"/><button matSuffix mat-icon-button><mat-icon>access_alarm</mat-icon></button>
  </mat-form-field>
</span>
  <span>
  <label>事务备注：</label>
  <mat-form-field>
    <input matInput placeholder="请输入该事务的备注" formControlName="note"/>
  </mat-form-field>
</span>
</div>