<h4 mat-dialog-title>编辑加班时长</h4>
<mat-dialog-content>
  <div>
    日期：{{date | date:'yyyy-MM-dd'}}
  </div>
  <div class="input-line">
    加班
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="timeCount" min="0" max="24" placeholder="请输入加班时长" />
    </mat-form-field>
    小时
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="button" (click)="dialogRef.close(timeCount)">保存</button>
  <button mat-button type="button" mat-dialog-close>关闭</button>
</mat-dialog-actions>
