@import "../etc/vars";

.error-container{
  background: $bg-color;
}

.error-box {
  text-align: center;

  .error-title {
    font-size: 150px;
    line-height: 1.2;
    font-weight: 900;
    display: inline-table;
    position: relative;
    background: mat-color($primary);
    color: #fff;
    padding: 0 $gutter;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 0 $gutter;
    &:after {
      top: 100%;
      left: 50%;
      border: 8px solid;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      border-color: rgba(0, 0, 0, 0);
      border-top-color: mat-color($primary);
      margin-left: -8px;
    }
  }

  .error-subtitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: $lighter-font-color;
  }

  .error-muted{
    margin-top: 1rem;
    color: $lightest-font-color;

    a {
      text-decoration: none;
      color: mat-color($primary);
    }
  }
}
