<div class="normal-layout">
  <ngx-loading-bar></ngx-loading-bar>
  <app-header (toggleMenu)="menu.toggle()" (toggleNotification)="notification.toggle()"></app-header>
  <mat-sidenav-container>
    <mat-sidenav class="menu" #menu [mode]="getNavMode()" opened="true">
      <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav mode="over" #notification position="end">
      <app-notification></app-notification>
    </mat-sidenav>
    <div class="app-main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
  <app-options></app-options>
</div>
