<div class="container">
  <section class="login">
    <form [formGroup]="form">
      <mat-card>
        <mat-card-header class="panel-header">
          <mat-card-title>登录</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="input-line">
            <input matInput placeholder="请输入账号" formControlName="username" />
          </mat-form-field>
          <mat-form-field  class="input-line">
            <input matInput placeholder="请输入密码" formControlName="password" />
          </mat-form-field>
          <div class="input-line">
            <mat-checkbox >记住我</mat-checkbox>
            <a>忘记密码</a>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>登录</button>
        </mat-card-actions>
        <mat-card-footer>
          <a>注册</a>
        </mat-card-footer>
      </mat-card>
    </form>

  </section>
</div>

