@import "../shared/scss/variables";

.container {
  position: absolute;
  left:0;
  top:0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.login {
  width: 400px;

  .input-line{
    display: block;
    width:100%;
  }

  .panel-header{
    font-weight: bold;
    text-align: center;
  }
}
