<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span fxFlex fxShow="false" fxShow.xs>{{date | calendarDate:(calendarMode + 'ViewTitle'):'zh'}}</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span fxFlex fxShow="false" fxShow.gt-xs>{{date | calendarDate:(calendarMode + 'ViewTitle'):'zh'}}</span>
    <span class="time-count">总计加班：{{timeCount}}小时</span>
    <div fxShow="false" fxShow.gt-xs>
      <button mat-button [class.active]="calendarMode === 'month'">月视图</button>
    </div>
    <button mat-icon-button matTooltip="上个月" mwlCalendarPreviousView (viewDateChange)="getEvents()" [view]="calendarMode" [(viewDate)]="date"><mat-icon>chevron_left</mat-icon></button>
    <button mat-icon-button matTooltip="今天" mwlCalendarToday [(viewDate)]="date"><mat-icon>today</mat-icon></button>
    <button mat-icon-button matTooltip="下个月" mwlCalendarNextView [view]="calendarMode" [(viewDate)]="date" (viewDateChange)="getEvents()"><mat-icon>chevron_right</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <!--<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>-->
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cal-cell-bottom" *ngIf="day.events && day.events[0]">
    <i class="dot"></i>
    <small>{{day.events[0].meta}} 小时</small>
  </div>
</ng-template>

<div class="calendar-container">
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <mat-card *ngIf="!isLoading; else loading;">
    <div [ngSwitch]="calendarMode">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="date"
        [locale]="locale"
        [events]="events"
        (dayClicked)="onClickDay($event)"
      ></mwl-calendar-month-view>
    </div>
  </mat-card>

</div>
