mat-card{
  padding: 0;
  font-size: 14px;
  margin-top: -64px;
}

form{
  padding: 1rem;
}

.btn-line{

  padding-top: 5px;

  button {
    margin-right: 10px;
  }
}

.error-line {
  margin-bottom: 5px;
}
