<div fxLayout="row wrap" fxLayoutAlign="center start">
  <mat-card fxFlex.gt-sm="55" fxFlex="100">
    <mat-tab-group>
      <mat-tab label="用户信息设置">
        <form fxLayout="column" novalidate [formGroup]="userInfoForm">
          <mat-form-field>
            <input matInput placeholder="用户名" disabled value="{{userInfo.username}}" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="用户昵称" formControlName="nickname" />
            <mat-error *ngIf="checkErrorMatch(userInfoForm, 'nickname', 'maxlength')">用户昵称最多50个字符</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="注册邮箱" required formControlName="email" />
            <mat-error *ngIf="checkErrorMatch(userInfoForm, 'email', 'required')">邮箱是必填项</mat-error>
            <mat-error *ngIf="checkErrorMatch(userInfoForm, 'email', 'pattern')">邮箱格式不正确</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="手机" formControlName="phone" />
            <mat-error *ngIf="checkErrorMatch(userInfoForm, 'phone', 'pattern')">手机号格式不正确</mat-error>
          </mat-form-field>
          <div class="error-line" *ngIf="isShowUserInfoError && userInfoForm.valid"><mat-error>{{userInfoErrorMessage || '该用户名已被注册'}}</mat-error></div>
          <div class="btn-line">
            <button mat-raised-button color="primary" [disabled]="userInfoForm.invalid" (click)="saveUserInfo()" *ngIf="!isUserInfoSubmitting">保存</button>
            <button *ngIf="isUserInfoSubmitting" [disabled]="isUserInfoSubmitting" mat-raised-button color="primary"><span class="btn-spinner-wrapper"><mat-spinner diameter="18" color="primary"></mat-spinner> 保存中...</span></button>
            <button mat-raised-button (click)="resetUserInfo()" [disabled]="isUserInfoSubmitting">重置</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="密码设置">
        <form fxLayout="column" novalidate [formGroup]="passwordForm">
          <mat-form-field>
            <input matInput type="password" required placeholder="请输入原密码" formControlName="password" />
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" required autocomplete="off" placeholder="请输入新密码" formControlName="newPassword" />
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" required autocomplete="off" placeholder="请再次输入新密码" formControlName="confirmNewPassword" />
          </mat-form-field>
          <div class="error-line" *ngIf="isShowPasswordError && passwordForm.valid"><mat-error>{{passwordErrorMessage || '输入的原密码不正确'}}</mat-error></div>
          <div class="btn-line">
            <button mat-raised-button color="primary" [disabled]="passwordForm.invalid" (click)="savePassword()" *ngIf="!isPasswordSubmitting">保存</button>
            <button *ngIf="isPasswordSubmitting" [disabled]="isPasswordSubmitting" mat-raised-button color="primary"><span class="btn-spinner-wrapper"><mat-spinner diameter="18" color="primary"></mat-spinner> 保存中...</span></button>
            <button mat-raised-button (click)="resetPasswordForm()" [disabled]="isPasswordSubmitting">重置</button>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
