<div fxLayout="row wrap" fxLayoutAlign="center start">
  <mat-card fxFlex.gt-sm="55" fxFlex="100">
    <mat-tab-group>
      <mat-tab label="用户信息">
        <div class="user-info" fxLayout="column" novalidate>
          <mat-form-field>
            <input matInput placeholder="用户名" disabled />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="用户昵称" disabled />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="注册邮箱" disabled />
          </mat-form-field>
          <div>
            <button mat-raised-button type="text" color="primary" [routerLink]="['/user/settings']">编辑</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
