<button mat-fab color="warn" class="btn-options">
  <mat-icon>settings</mat-icon>
</button>
<mat-card class="options">
  <mat-toolbar>
    <span fxFlex>选项</span>
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card-content>
    <div>
      <mat-checkbox align="end">折叠导航菜单</mat-checkbox>
    </div>
    <div>
      <mat-checkbox align="end">简化导航菜单</mat-checkbox>
    </div>
    <div>
      <mat-checkbox align="end">盒子模式布局</mat-checkbox>
    </div>
    <div>
      <mat-checkbox align="end">黑夜模式</mat-checkbox>
    </div>
  </mat-card-content>

</mat-card>
