.mb-1-55-em{
  margin-bottom: 1.55em;
}

.mb-1-25-em{
  margin-bottom: 1.25em;
}

.record-list{
  padding:10px 0;

  .record-list-title{
    margin-bottom: 10px;
  }
}

.event-line {
  width: 100%;
}
