<button mat-fab color="warn" class="btn-settings" (click)="toggleOptionsStatus()">
  <mat-icon>settings</mat-icon>
</button>
<mat-card class="settings" *ngIf="isShowSettings">
  <mat-card-title>
    <mat-toolbar color="warn">
      <span fxFlex>系统设置</span>
      <button mat-icon-button (click)="toggleOptionsStatus()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item fxHide="false" fxHide.lt-md>
        <span fxFlex>折叠式导航菜单</span>
        <mat-slide-toggle [(ngModel)]="status.menuCollapsed" (change)="changeSettings()"></mat-slide-toggle>
      </mat-list-item>
      <mat-list-item fxHide="false" fxHide.lt-md>
        <span fxFlex>悬浮式导航菜单</span>
        <mat-slide-toggle [(ngModel)]="status.menuCompact" (change)="changeSettings()"></mat-slide-toggle>
      </mat-list-item>
      <mat-list-item fxHide="false" fxHide.lt-md>
        <span fxFlex>固定宽度排版</span>
        <mat-slide-toggle [(ngModel)]="status.appBoxed" (change)="changeSettings()"></mat-slide-toggle>
      </mat-list-item>
      <mat-list-item>
        <span fxFlex>黑夜模式</span>
        <mat-slide-toggle [(ngModel)]="status.appDark" (change)="changeSettings()"></mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
