<mat-nav-list>
  <mat-list-item *ngFor="let item of menuList;" routerLinkActive="active" [ngClass]="{opened: item.isOpened}" (click)="item.isOpened = !item.isOpened"  [routerLinkActiveOptions]="{exact: true}">
    <a *ngIf="item.type !== 'sub-menu'" [routerLink]="[item.path]">
      <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
      <span class="text" fxFlex>{{ item.text }}</span>
    </a>
    <a *ngIf="item.type === 'sub-menu'">
      <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
      <span class="text" fxFlex>{{ item.text }}</span>
      <mat-icon class="arrow">arrow_drop_down</mat-icon>
    </a>
    <mat-nav-list *ngIf="item.type === 'sub-menu'" class="sub-menu" (click)="onClickSubMenu($event)">
      <mat-list-item *ngFor="let subItem of item.children" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="[subItem.path]">
          <span class="text" fxFlex>{{ subItem.text }}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-list-item>
</mat-nav-list>
