<div class="notification">
  <div class="title">系统通知</div>
  <mat-list>
    <mat-list-item fxFill>
      <div class="today" fxLayout="column" fxFill>
        <h1 class="week">{{ today | date:'EEEE' }}</h1>
        <h3 class="date">
          <span>{{ today | date:'yyyy' }}年</span>
          <span>{{ today | date:'MM' }}月</span>
          <span>{{ today | date:'dd' }}日</span>
        </h3>
      </div>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <div class="no-date">
    暂无数据
  </div>
</div>
