@import "~assets/styles/scss/etc/vars";

.notification{

  .title{
    height: 48px;
    border-bottom: 2px solid mat-color($primary);
    line-height: 46px;
    text-align: center;
    font-size:16px;
    text-indent: 2px;
  }

  .sub-title{
    margin-top:15px;
    height:20px;
    line-height: 20px;
    padding: 0 10px;
    font-size:14px;
    font-weight: bold;
  }

  .label-line{
    font-size:12px;
    color: $lighter-font-color;
    line-height: 20px;
    margin-bottom: 5px;
  }
}

.today{
  padding: 10px 0;

  .week{
    margin:0;
    font-weight: bold;
    font-size: 18px;
  }

  .date{
    margin: 5px 0;
    color: $lighter-font-color;
    font-weight: normal;
    font-size: 14px;
  }
}
