<div class="welcome" [ngStyle.lt-md]="{'font-size': '22px'}" *ngIf="isShowWelcome;else charts;">
  欢迎来到PARTNER！
</div>

<ng-template #charts>
  <div class="charts-wrapper" fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutGap.lt-md="0px grid" fxLayoutAlign="start start">
    <div fxFlex="50" fxFlex.lt-md="100">
      <mat-card>
        <mat-card-title>加班工时统计</mat-card-title>
        <mat-card-subtitle>单位：小时</mat-card-subtitle>
        <mat-card-content>
          <canvas class="chart" baseChart style="width: 100%;"
                  [datasets]="timeChartData"
                  [labels]="timeChartLabels"
                  [options]="timeChartOptions"
                  [legend]="timeChartLegend"
                  [colors]="chartColors"
                  [chartType]="timeChartType"></canvas>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50" fxFlex.lt-md="100">
      <mat-card>
        <mat-card-title>工作任务统计</mat-card-title>
        <mat-card-subtitle>单位：个</mat-card-subtitle>
        <mat-card-content>
          <canvas class="chart" baseChart style="width: 100%;"
                  [datasets]="timeChartData"
                  [labels]="timeChartLabels"
                  [options]="timeChartOptions"
                  [legend]="timeChartLegend"
                  [colors]="chartColors"
                  [chartType]="timeChartType"></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>
